<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Pacifico"
    />
    <link
      rel="icon"
      href="http://obj-cache.cloud.ruanbekker.com/favicon.ico"
    />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>Related Article Search</title>
  </head>
  <body>
    <div class="container">
      <div style="background: transparent !important" class="jumbotron">
        <div style="font-family: 'Arial', cursive">
          <h1 style="text-align: center; margin: 3rem 0" class="display-1">
            Search for Related Articles
          </h1>
        </div>
      </div>

      <form action="/result" method="post">
        <div style="margin-bottom: 2rem; font-size: 2rem">
          <label for="lang">Language:</label>
          <select id="lang" name="language">
            <option value="en">English</option>
            <option value="de">German</option>
            <option value="es">Spanish</option>
            <option value="fa">Persian</option>
            <option value="fr">French</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="ru">Russian</option>
            <option value="zh">Chinese</option>
          </select>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control input-lg"
            name="input"
            placeholder="Search"
            autofocus
          />
          <div class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>

      <br /><br />
    </div>
  </body>
</html>
